@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body , html{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins';
}
a{
  text-decoration: none;
  color:inherit ;
}
.box{
  background-image: url(img-landingpage/AdobeStock_429161420.jpeg);
  width: 100%;
  height: 100vh;
  background-size: 100% 900px;
  padding: 0px;
  position: relative;
}

.box .header{
  
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: rgba(147, 138, 138, 0.322);
  
}
.box .company{
  color: whitesmoke;
  position: absolute;
  font-size: 39px;
  width: 200px;
  height: 80px;
  /* border: 1px solid white; */
  top: 12px;
  left: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box .company img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}
.box .header .navbox{
  color: white;
  width: 500px;
  /* border: 1px solid white; */
  display: flex;
  position: absolute;
  top: 23px;
  right: 20px;

}

.box .header .navbox .nav{
  font-size: 17px;
  margin-right: 35px;
  cursor: pointer;
  transition: .3s linear;
}
.box .header .navbox .nav:hover{
  color: #36e2ec;
}

.box .center{
  color: white;
  position: absolute;
  top: 260px;
  left: 100px;
  font-size: 59px;
  font-weight: 500;
  text-align: left;

  
  /* word-spacing: 5px; */
}
.box .center p{
  font-size: 19px;
  color: #111727;
  margin-top: 10px;
  font-weight: 400;
}
.box .center_btn{
  position: absolute;
  top: 500px;
  left: 97px;
}

.box .center_btn button{
  background-color:#111727;
  height: 50px;
  width: 200px;
  font-size: 24px;
  border-radius: 50px;
  border: none;
  margin-top: 0px;
  margin-bottom: 90px;
  box-shadow: 2px 2px 2px #111727;
  color: white;
  cursor: pointer;
  transition: .3s opacity;


}
.box .center_btn button:nth-child(2){
  color: #111727;
  border: 2px solid #36e2ec;
  /* background-color: white; */
  background: #36e2ec;
  box-shadow: none;
  transition:.3s opacity ;
  margin-left: 10px;
}
.box .center_btn button:nth-child(2):hover{
opacity: 0.8;

}


.box .center_btn button:hover{
  opacity: 0.8;
}
.box2{

  background: linear-gradient( #7100a6,#4a3079);
  /* background-color: black; */
  width: 100%;
  height: 150px;
  border: none;
}
.box3{
  margin: 0px;
  background-image: url(img-landingpage/AdobeStock_285655000.jpeg);
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  position: relative;
 
}
.box3 .discription{
  position: absolute;
  width: 1000px;
  height: 400px;
  /* border: 1px solid white; */
  color: burlywood;
 padding-bottom: 200px;
  top: 130px;
  left: 50px;
  font-size: 44px;
  font-weight: 500;
  text-align: left;

}

.box3 .discription_1{
  position: absolute;
  top: 260px;
  left: 50px;
  /* border: 1px solid white; */
  width: 430px;
  height: 400px;
  font-size: 17px;
  color: rgb(142, 131, 112);
  line-height: 2em;
  margin-top: 0px;
}
.box3 .discription_1 img{
  margin-top: 10px;
}
.box3 .box3_btn{
  position: absolute;
  top: 490px ;
  left: 50px;
  width: 400px;
  height: 50px;
}
.box3 .box3_btn button{
  color: white;
  width: 100%;
  height: 100%;
  font-size: 23px;
  background: transparent;
  /* background-color:opacity(0.5); */
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s linear;
}
.box3 .box3_btn button:hover{
  background-color: white;
  color: #111727;
}





.box4{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom right, #442779,#5a3d91,#ea3654);
  position: relative;
  background-image: url(img-landingpage/Screenshot\ 2022-08-02\ at\ 11.23.14\ AM.png);
  background-size: 100% ;
  background-repeat: no-repeat;


}
.box4 .slider{
  /* max-width: auto; */
  width: 94%;
  height: 590px;
  /* border: 1px solid white; */
  position: absolute;
  top:90px;
  left:40px ;
  padding: 0px;
  display: flex;
  
  white-space: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border: none;
    border-radius: 20px;

}
.slider::-webkit-scrollbar {
  display: none;
}
.box4 .feature{
  /* position: absolute; */
  /* top: 120px;
  left:50px; */
  margin-top: 0px;
  width:390px;
  height: 590px;
  /* border: 2px solid white; */
  border-radius: 20px;
  /* background-color: #ad183c; */
  color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0,.6);
  transition: opacity .2s cubic-bezier(.4,0,1,1);
  /* box-shadow: inset -3px -10px 3px #630a1f; */
  /* box-shadow: inset 3px 4px 3px #630a1f; */
  background: linear-gradient(180deg,  #b51d41, #630a1f);
  transition: .3s box-shadow;
  cursor: pointer;
  margin-left: 50px;
  position: relative;
  flex-shrink: 0;
  /* -webkit-mask-image: linear-gradient(to bottom,black 10%,transparent 100%);
    mask-image: linear-gradient(to bottom,black 10%,transparent 100%); */
  
}
.box4 .feature:nth-child(2){
  background: linear-gradient(180deg ,#a30953, #50293c);
}
.box4 .feature:nth-child(2) button{
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 170px;
  font-size: 20px;
  color: white;
  font-weight: 500;
  background: none;
  border: none;
  transition: .2s linear;
  font-style: none;
  font-family: "Poppins";
  cursor: pointer;
}
.box4 .feature:nth-child(2) button:hover{
  color: #36e2ec;
}
.box4 .feature:nth-child(3){
  background: linear-gradient(180deg,#074cb4, #263855);

}
.box4 .feature:nth-child(3) .image{
  left: 0px;
  margin-left: 0px;
  height: 250px;
  width: 330px;
}

.box4 .feature:nth-child(3) button{
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 170px;
  font-size: 20px;
  color: white;
  font-weight: 500;
  background: none;
  border: none;
  transition: .2s linear;
  font-style: none;
  font-family: "Poppins";
  cursor: pointer;
}
.box4 .feature:nth-child(3) button:hover{
  color: #36e2ec;
}
.box4 .feature:nth-child(4){
  background: linear-gradient(180deg,#d7802f, #884001);
}
.box4 .feature:nth-child(4) button{
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 170px;
  font-size: 20px;
  color: white;
  font-weight: 500;
  background: none;
  border: none;
  transition: .2s linear;
  font-style: none;
  font-family: "Poppins";
  cursor: pointer;
}
.box4 .feature:nth-child(4) button:hover{
  color: #36e2ec;
}
.box4 .feature:nth-child(5) .image{
  top: 0px;
  left: 0px;
  margin-left: 0px;
  height: 300px;
  width: 100%;
  
}
.box4 .feature:nth-child(5) .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box4 .feature:nth-child(5){
  background: linear-gradient(180deg,#561bd5 ,#34196e);
}


.box4 .feature:hover{
  box-shadow: 10px 20px 10px  rgba(0, 0, 0,.6);
}

.box4 .feature .image{
  position: absolute;
  top: 25px;
  left: 20px;
  width: 270px;
  height: 400px;
  margin-top: 40px;
  margin-left: 40px;
  -webkit-mask-image: linear-gradient(to bottom,black 5%,transparent 100%);
    mask-image: linear-gradient(to bottom,black 5%,transparent 100%); 
    /* transition: opacity .2s cubic-bezier(.4,0,1,1); */
    z-index: 2;
    text-align: center;
}
.box4 .feature .image img{
  width: 100%;
  height: 100%;
}
.box4 .feature .feature_title{
  padding: 30px;
  z-index: 4;
  width: 300px;
  font-size: 24px;
  position: absolute;
  top: 300px;
  
  font-weight: 500;

}
.box4 .feature .feature_discrip{
  margin: 10px;
  padding: 10px;
  z-index: 4;
  position: absolute;
  top: 380px;
  width: 310px;
  text-align: left;
  font-size: 17px;
  word-wrap: break-word; 
  /* border: 2px solid black; */
}




.box5{
  width: 100%;
  height: 100vh;
  background-image: url(img-landingpage/AdobeStock_290897614.jpeg);
  /* background-image: linear-gradient(to bottom left, #ea3654,#3e2370,#3e2370); */
  position: relative;
  background-size: 100% 100%;
}

.box5 .premium{
position: absolute;
top: 20px;
left: 40px;
font-size: 45px;
font-weight: 500;
color: white;

}
.box5 .premium span{
  /* color: #36e2ec; */
  background: -webkit-linear-gradient(180deg,#ee11b0, #3bb1ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box5 .price_box{
  position: absolute;
  top: 170px;
  left: 130px;
  width: 305px;
  height: 470px;
  border: 2px solid wheat;
  border-radius: 20px;
  background: transparent;
  box-shadow: 4px 4px 4px rgba(245, 222, 179,0.4);color: white;
  /* box-shadow: 4px 4px 4px black; */
}
.box5 .price_box:hover{
box-shadow: 8px 8px 8px rgba(245, 222, 179,0.4);
}
.box5 .price_box .price{
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  font-size:42px;
  font-weight: 500;
  line-height: 30px;
}
.box5 .price_box .price span{
  font-size: 20px;
  line-height: 0px;
  font-weight: 400;
}
.box5 .price_box .price_feature{
  /* padding: 10px; */
  margin-top: 19px;
  text-align: left;
  display: grid;
grid-template-columns: 15% 90%;
  padding: 10px;
  row-gap: 10px;
  /* text-align: center; */
  align-items: center;
  
}
.box5 .price_box .price_feature .bi{
  font-size: 30px;
  margin-right: 10px;
  /* margin-bottom: 15px; */
  /* margin-left: 10px; */
}
.box5 .price_box button{
 margin-left: 40px;
 width: 220px;
 height: 50px;
 font-size: 23px;
 color: white;
 background-color: transparent;
 border: 1px solid white;
 border-radius: 10px;
 margin-bottom: 20px;
 cursor: pointer;
 transition: .2s linear;
}
.box5 .price_box button:hover{
  background-color: #36e2ec;
  border: 1px solid #36e2ec;

}

.box5 .price_box2{
  position: absolute;
  top: 170px;
  left:560px;
  width: 305px;
  height: 470px;
  /* border: 2px solid white; */
  border: 2px solid wheat;

  border-radius: 20px;
  /* background-color: #111727; */
  background: transparent;
  color: white;
  box-shadow: 4px 4px 4px rgba(245, 222, 179,0.4);
  /* box-shadow: 4px 4px 4px black; */
}
.box5 .price_box2:hover{
  /* box-shadow: 4px 4px 4px black; */
  box-shadow: 8px 8px 8px rgba(245, 222, 179,0.4)
}
.box5 .price_box2 .price{
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  font-size:42px;
  font-weight: 500;
  line-height: 30px;
}
.box5 .price_box2 .price span{
  font-size: 20px;
  line-height: 0px;
  font-weight: 400;
}
.box5 .price_box2 .price_feature{
  /* padding: 10px; */
  margin-top: 19px;
  text-align: left;
  display: grid;
grid-template-columns: 15% 90%;
  padding: 10px;
  row-gap: 10px;
  /* text-align: center; */
  align-items: center;
  
}
.box5 .price_box2 .price_feature .bi{
  font-size: 30px;
  margin-right: 10px;
  /* margin-bottom: 15px; */
  /* margin-left: 10px; */
}
.box5 .price_box2 button{
 margin-left: 40px;
 width: 220px;
 height: 50px;
 font-size: 23px;
 color: white;
 background-color: transparent;
 border: 1px solid white;
 border-radius: 10px;
 margin-bottom: 20px;
 cursor: pointer;
 transition: .2s linear;
}
.box5 .price_box2 button:hover{
  background-color: #36e2ec;
  border: 1px solid #36e2ec;

}

.box5 .price_box3{
  position: absolute;
  top: 170px;
  left:990px;
  width: 305px;
  height: 470px;
  border: 2px solid wheat;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  /* box-shadow: 4px 4px 4px black; */
  box-shadow: 4px 4px 4px rgba(245, 222, 179,0.4);
}
.box5 .price_box3:hover{
  /* box-shadow: 4px 4px 4px black; */
  box-shadow: 8px 8px 8px rgba(245, 222, 179,0.4)
}
.box5 .price_box3 .price{
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  font-size:42px;
  font-weight: 500;
  line-height: 30px;
}
.box5 .price_box3 .price span{
  font-size: 20px;
  line-height: 0px;
  font-weight: 400;
}
.box5 .price_box3 .price_feature{
  /* padding: 10px; */
  margin-top: 19px;
  text-align: left;
  display: grid;
grid-template-columns: 15% 90%;
  padding: 10px;
  row-gap: 10px;
  /* text-align: center; */
  align-items: center;
  
}
.box5 .price_box3 .price_feature .bi{
  font-size: 30px;
  margin-right: 10px;
  /* margin-bottom: 15px; */
  /* margin-left: 10px; */
}
.box5 .price_box3 button{
 margin-left: 40px;
 width: 220px;
 height: 50px;
 font-size: 23px;
 color: white;
 background-color: transparent;
 border: 1px solid white;
 border-radius: 10px;
 margin-bottom: 20px;
 margin-top: 50px;
 cursor: pointer;
 transition: .2s linear;
}
.box5 .price_box3 button:hover{
  background-color: #36e2ec;
  border: 1px solid #36e2ec;

}

.box6{
  width: 100%;
  height: 470px;
  background: black;
  position: relative;
}
.box6 .logo{
  position: absolute;
  top: 30px;
  left: 40px  ;
  width: 100px;
  height: 100px;

}
.box6 .logo img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  box-shadow: 2px 1px 2px rgba(255, 255, 255,0.4);
}
.box6 .logo img:hover{
  box-shadow: 4px 3px 4px rgba(255, 255, 255,0.4);


}
.box6 .company_link{
  position: absolute;
  color: whitesmoke;
  top: 60px;
  left: 210px;

}
.box6 .company_link p{
  cursor: pointer;
}
.box6 .company_link p:hover{
  color: #36e2ec;
}

.box6 .communities{
  position: absolute;
  color: whitesmoke;
  top: 60px;
  left: 400px;
}
.box6 .communities p{
  cursor: pointer;
}
.box6 .communities p:hover{
  color: #36e2ec;
}

.box6 .usefullinks{
  position: absolute;
  color: whitesmoke;
  top: 60px;
  left: 620px;
}
.box6 .usefullinks p{
  cursor: pointer;
}
.box6 .usefullinks p:hover{
  color: #36e2ec;
}

.box6 .social{
  position: absolute;
  top: 60px;
  right: 80px;
  font-size: 35px;
  color: whitesmoke;
  
}
/* .box6 .social:hover{
  color: #36e2ec;
} */
.box6 .social .bi{
  margin: 10px;
  cursor: pointer;
}
.box6 .social .bi:hover{
  color: #36e2ec;
}
.box6 .feedback{
position: absolute;
top: 130px;
right: 80px;
width: 400px;
height: 20px;

}
.box6 .feedback input{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
}
.box6 .feedback input:nth-child(2){
  margin-top: 10px;
  height: 80px;
  line-height: 0px;
  text-align: top;
  vertical-align: top;
  /* padding: 0px; */
}
.box6 .feedback input:nth-child(2)::-webkit-input-placeholder{
  text-align: top;
  position: absolute;
  vertical-align: top;

}

.box6 .legal{
  position: absolute;
  top: 370px;
  left: 40px;
  width: 400px;
  color: whitesmoke;
  font-size: 14px;

}
.box6 .legal p{
  display: inline-block;
  margin-left: 20px;
}
.box6 .legal p{
  cursor: pointer;
}
.box6 .legal p:hover{
  color: #36e2ec;
}

.box6 .sub{
  position: absolute;
  bottom: 130px;
  right: 299px;
  width: 180px;
  height: 40px;
  background: rgb(255, 95, 148);
  border: none;
  border-radius: 10px;
  font-size: 17px;
  color: white;
  cursor: pointer;



}
.box6 .sub:hover{
  background: rgb(246, 115, 159);
}